<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
</head>
<style>
    .car {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }
    .cars {
        width: 25vw;
        gap: 12px;
    }
    img {
        width: 100px;
    }
</style>
<body>
<div class="cars">
        {% for car in cars %}
        <div class="car" style="background-color: {{car.color}};">
            <div class="">{{ car.name }}</div>
            <div class="">{{ car.color }}</div>
            <div class="">{{ car.price }}</div>
            <div class=""><img src="{{ car.image_url }}" alt=""></div>
        </div>
    {% endfor %}
</div>
</body>
</html>