<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <h1>Targil 1</h1>
    <h4>This form will greet you personally!</h4>
    <form action="/targil1">
        <input type="text" name="username" placeholder="First Name">
        <input type="submit">
    </form>
    <h1>Targil 2</h1>
    <h4>This form will check if you are authorized</h4>
    <form action="/targil2">
        <input type="text" name="username" placeholder="First Name">
        <input type="submit">
    </form>
    <h1>Targil 3</h1>
    <h4>This form will return your first and last name</h4>
    <form action="/targil3">
        <input type="text" name="firstname" placeholder="First Name">
        <input type="text" name="lastname" placeholder="Last Name">
        <input type="submit">
    </form>
    <h1>Targil 4</h1>
    <h4>This form will return the price + VAT</h4>
    <form action="/targil4">
        <input type="text" name="price" placeholder="Price">
        <input type="submit">
    <h1>Targil 5</h1>
    <h4>This form will return the sum of the numbers</h4>
    </form>
    <form action="/targil5">
        <input type="text" name="num1" placeholder="First Number">
        <input type="text" name="num2" placeholder="Second Number">
        <input type="submit">
    </form>
</body>
</html>